.grid {
    margin: auto;
    border: 3px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.grid-item {
    outline: 1px solid grey;
}

.grid-item-fire {
    outline: 1px solid grey;
    background: rgb(228, 65, 65);
}

.grid-item-forest {
    outline: 1px solid grey;
    background: rgb(35, 158, 35);
}

.settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}